@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
	themes: light --default;
}

@plugin "daisyui/theme" {
	name: "light";
	default: true;
	--color-primary: #caeb66;
	--color-secondary: #03373d;
}

body {
	font-family: "Urbanist", sans-serif;
	font-size: 16px;
	font-weight: 400;
	background: #eaeced;
	color: #606060;
	padding-top: 28px;
	padding-bottom: 48px;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
}

.footer-menu-border {
	@apply border-t border-dashed border-t-[#03464D] border-b border-b-[#03464D];
}

.carousel .carousel-status {
	display: none;
}

.menu.menu-horizontal li a.active {
	background: #caeb66;
}

button {
	cursor: pointer;
}
